[Unit]
Description=gaiad
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=ubuntu
Group=ubuntu
PermissionsStartOnly=true
ExecStart=/data/gaia/gaiad start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target